<form method="post" action="/weatherReq">
    <input type="text" name="zipcode">
    <input type="submit">
</form>
<div><hr></div>
<div style = "align: center">
	<table style = "align:center">
	<thead>
	<tr><b>Some zipcodes to test:</b></tr>
	<hr>
		<tr>
			<th>State</th>
			<th>Zipcode Range</th>
		</tr>
	</thead>
		<tr>
			<td>Alaska(AK):</td>
			<td>99501 thru 99524</td>
		</tr>
		<tr>
			<td>Arizona(AZ):</td>
			<td>85001 thru 85055</td>
		</tr>
		<tr>
			<td>California(CA):</td>
			<td>90213 thru 94023 </td>
		</tr>
		<tr>
			<td>Los Angeles(LA):</td>
			<td>90001 thru 90089</td>
		</tr>
		<tr>
			<td>Florida(FL):</td>
			<td>33124 thru 33190</td>
		</tr>
		<tr>
			<td>Hawai(HI):</td>
			<td>96801 thru 96830</td>
		</tr>
	</table>
</div>